<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar">
        <ul class="left-menu">
            <li><a href="#">About</a></li>
            <li><a href="#">Product</a></li>
        </ul>
        <div class="logo">
            <a href="#"><img src="~/img/logo/114107637.jpg" alt="logo.jpg" /></a>
        </div>
        <ul class="right-menu">
            <li><a href="#">Contact</a></li>
            <li>
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Tìm kiếm">

            </li>
        </ul>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer>
        <div class="footer-content">
            <div class="left-section">
                <div class="logo-large"><img src="~/img/logo/114107637.jpg" alt="Large Logo"></div>
            </div>
            <div class="right-section">
                <div class="links">
                    <a href="#">About</a>
                    <a href="#">Contact</a>
                    <a href="#">More Products</a>
                    <a href="#">Get Info</a>
                </div>
            </div>
            <div class="universe-icons row">
                <img src="~/img/logo/unlogo.jpg" alt="Universe Icon 1">
                <p class="col-lg-pull-2 text-right">&copy; 2023- Nhóm 13 Thiết kế WEB</p>
            </div>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
